[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-krecipes-backup
Icon=krecipes_file
Patterns=*.krecbk
Comment=Krecipes Backup File
Comment[br]=Fazi diell Krecipes
Comment[de]=Krecipes Backupdatei
Comment[ga]=Comhad Cúltaca Krecipes
Comment[it]=File di copia di sicurezza di Krecipes
Comment[nl]=KRecipes reservekopiebestand
Comment[pt]=Cópia de Segurança do Krecipes
Comment[pt_BR]=Cópia de Segurança do Krecipes
Comment[sv]=Krecept säkerhetskopieringsfil
Comment[xx]=xxKrecipes Backup Filexx
