[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-krecipes-backup
Icon=krecipes_file
Patterns=*.krecbk
Comment=Krecipes Backup File
Comment[ar]=ملف Krecipes الأحتياطي
Comment[bg]=Файл с резервно копие на Krecipes
Comment[br]=Restr gwareziñ Krecipes
Comment[cs]=Záložní soubor Krecipes
Comment[da]=Krecipes sikkerhedskopieringsfil
Comment[de]=Krecipes Backupdatei
Comment[el]=Αρχείο αντιγράφου ασφαλείας Krecipes
Comment[es]=Archivo de copia de seguridad de Krecipes
Comment[et]=Krecipesi varukoopiafail
Comment[ga]=Comhad Cúltaca Krecipes
Comment[gl]=Ficheiro de Seguridade de Krecipes
Comment[it]=File di copia di sicurezza di Krecipes
Comment[ja]=Krecipes バックアップファイル
Comment[ka]=Krecipes სარეზერვო ასლი
Comment[nb]=Krecipes sikkerhetskopifil
Comment[nl]=KRecipes reservekopiebestand
Comment[pt]=Cópia de Segurança do Krecipes
Comment[pt_BR]=Cópia de Segurança do Krecipes
Comment[sk]=Krecipes záložný súbor
Comment[sr]=Резервни фајл Krecipes-а
Comment[sr@Latn]=Rezervni fajl Krecipes-a
Comment[sv]=Krecept säkerhetskopieringsfil
Comment[tr]=Krecipes Yedek Dosyası
Comment[uk]=Файл резервної копії Krecipes
Comment[xx]=xxKrecipes Backup Filexx
