[Desktop Entry]
Encoding=UTF-8
Type=MimeType
MimeType=application/x-krecipes-recipes
Icon=krecipes_file
Patterns=*.kre;*.kreml
Comment=Krecipes Exported Recipes
Comment[br]=Restr ezporzhiet Krecipes
Comment[cs]=Exportované recepty Krecipes
Comment[de]=Exportierte Rezepte aus Krecipes
Comment[es]=Recetas exportadas de Krecipes
Comment[it]=Ricette esportate di Krecipes
Comment[nl]=Krecipes geëxporteerde recepten
Comment[pt]=Receitas Exportadas do Krecipes
Comment[pt_BR]=Receitas Exportadas do Krecipes
Comment[sr]=Извезени рецепти Krecipes-а
Comment[sr@Latn]=Izvezeni recepti Krecipes-a
Comment[sv]=Krecept exporterade recept
Comment[xx]=xxKrecipes Exported Recipesxx
