<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="krecipes" version="1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="import_action" />
  </Menu>
  <Menu name="view"><text>&amp;View</text>
    <Action name="page_setup_action" />
  </Menu>
</MenuBar>
</kpartgui>
