[Desktop Entry]
Name=Krecipes
Exec=krecipes %i -caption %c
Icon=krecipes
Type=Application
Categories=Utility;Qt;KDE;Database;X-KDE-More;
X-DocPath=krecipes/index.html
GenericName=Cooking Book
Comment=The KDE Cooking Book
Terminal=false
X-DCOP-ServiceType=Unique
