[Desktop Entry]
Encoding=UTF-8
Name=Krecipes
Name[sv]=Krecept
Name[wa]=Kricetes
Name[xx]=xxKrecipesxx
Exec=krecipes %i %m -caption "%c"
Icon=krecipes
Type=Application
DocPath=krecipes/krecipes.html
Comment=The KDE Cooking Book
Comment[pt]=O Livro de Cozinha do KDE
Comment[pt_BR]=O Livro de Cozinha do KDE
Comment[sv]=KDE:s kokbok
Comment[fr]=Le livre de cuisine de KDE
Terminal=0
