[Desktop Entry]
Encoding=UTF-8
Name=Krecipes
Exec=krecipes %i %m -caption "%c"
Icon=krecipes
Type=Application
DocPath=krecipes/krecipes.html
GenericName=Cooking Book
Comment=The KDE Cooking Book
Terminal=false
X-DCOP-ServiceType=Unique
